In [1]:
import pandas as pd
from pygris.data import get_census

In [2]:
api_key = '4489ebf8b64678c1d20d81cb44308726a18db5a2'

variables = [
    'B01003_001E',  # Total Population
    'B27010_001E',  # Total Surveyed for Health Insurance
    'B27010_002E',  # under 19
    'B27010_003E',  # one type (u19)
    'B27010_004E',  # one type, employer-based (u19)
    'B27010_005E',  # one type, direct-purchase (u19)
    'B27010_006E',  # one type, medicare (u19)
    'B27010_007E',  # one type, medicaid/means-tested (u19)
    'B27010_008E',  # one type, TRICARE/military (u19)
    'B27010_009E',  # one type, VA (u19)
    'B27010_010E',  # two type (u19)
    'B27010_011E',  # two type, employer-based (u19)
    'B27010_012E',  # two type, direct-purchase (u19)
    'B27010_013E',  # two type, medicare (u19)
    'B27010_014E',  # two type, medicaid/means-tested (u19)
    'B27010_015E',  # two type, TRICARE/military (u19)
    'B27010_016E',  # two type, VA (u19)
    'B27010_017E',  # no coverage (u19)
    'B27010_018E',  # 19-34
    'B27010_019E',  # one type (19-34)
    'B27010_020E',  # one type, employer-based (19-34)
    'B27010_021E',  # one type, direct-purchase (19-34)
    'B27010_022E',  # one type, medicare (19-34)
    'B27010_023E',  # one type, medicaid/means-tested (19-34)
    'B27010_024E',  # one type, TRICARE/military (19-34)
    'B27010_025E',  # one type, VA (19-34)
    'B27010_026E',  # two type (19-34)
    'B27010_027E',  # two type, employer-based (19-34)
    'B27010_028E',  # two type, direct-purchase (19-34)
    'B27010_029E',  # two type, medicare (19-34)
    'B27010_030E',  # two type, medicaid/means-tested (19-34)
    'B27010_031E',  # two type, TRICARE/military (19-34)
    'B27010_032E',  # two type, VA (19-34)
    'B27010_033E',  # no coverage (19-34)
    'B27010_034E',  # 35-64
    'B27010_035E',  # one type (35-64)
    'B27010_036E',  # one type, employer-based (35-64)
    'B27010_037E',  # one type, direct-purchase (35-64)
    'B27010_038E',  # one type, medicare (35-64)
    'B27010_039E',  # one type, medicaid/means-tested (35-64)
    'B27010_040E',  # one type, TRICARE/military (35-64)
    'B27010_041E',  # one type, VA (35-64)
    'B27010_042E',  # two type (35-64)
    'B27010_043E',  # two type, employer-based (35-64)
    'B27010_044E',  # two type, direct-purchase (35-64)
    'B27010_045E',  # two type, medicare (35-64)
    'B27010_046E',  # two type, medicaid/means-tested (35-64)
    'B27010_047E',  # two type, TRICARE/military (35-64)
    'B27010_048E',  # two type, VA (35-64)
    'B27010_049E',  # no coverage (35-64)
    'B27010_050E',  # no code in the provided sequence
    'B27010_051E',  # 65 plus
    'B27010_052E',  # one type (65p)
    'B27010_053E',  # one type, employer-based (65p)
    'B27010_054E',  # one type, direct-purchase (65p)
    'B27010_055E',  # one type, medicare (65p)
    'B27010_056E',  # one type, medicaid/means-tested (65p)
    'B27010_057E',  # one type, TRICARE/military (65p)
    'B27010_058E',  # one type, VA (65p)
    'B27010_059E',  # two type (65p)
    'B27010_060E',  # two type, employer-based (65p)
    'B27010_061E',  # two type, direct-purchase (65p)
    'B27010_062E',  # two type, medicare (65p)
    'B27010_063E',  # two type, medicaid/means-tested (65p)
    'B27010_064E',  # two type, TRICARE/military (65p)
    'B27010_065E',  # two type, VA (65p)
    'B27010_066E',  # no coverage (65p)
]

# Get ACS data by state
acs_data = get_census(dataset='acs/acs5', 
                      year=2022, 
                      variables=variables, 
                      params = {
                          "for": "state:*"
                      })

acs_df = pd.DataFrame(acs_data)

acs_df.rename(columns={
    'B01003_001E': 'total_population',
    'B27010_001E': 'total_surveyed',
    'B27010_002E': 'hi2',
    'B27010_003E': 'hi3',
    'B27010_004E': 'hi4',
    'B27010_005E': 'hi5',
    'B27010_006E': 'hi6',
    'B27010_007E': 'hi7',
    'B27010_008E': 'hi8',
    'B27010_009E': 'hi9',
    'B27010_010E': 'hi10',
    'B27010_011E': 'hi11',
    'B27010_012E': 'hi12',
    'B27010_013E': 'hi13',
    'B27010_014E': 'hi14',
    'B27010_015E': 'hi15',
    'B27010_016E': 'hi16',
    'B27010_017E': 'hi17',
    'B27010_018E': 'hi18',
    'B27010_019E': 'hi19',
    'B27010_020E': 'hi20',
    'B27010_021E': 'hi21',
    'B27010_022E': 'hi22',
    'B27010_023E': 'hi23',
    'B27010_024E': 'hi24',
    'B27010_025E': 'hi25',
    'B27010_026E': 'hi26',
    'B27010_027E': 'hi27',
    'B27010_028E': 'hi28',
    'B27010_029E': 'hi29',
    'B27010_030E': 'hi30',
    'B27010_031E': 'hi31',
    'B27010_032E': 'hi32',
    'B27010_033E': 'hi33',
    'B27010_034E': 'hi34',
    'B27010_035E': 'hi35',
    'B27010_036E': 'hi36',
    'B27010_037E': 'hi37',
    'B27010_038E': 'hi38',
    'B27010_039E': 'hi39',
    'B27010_040E': 'hi40',
    'B27010_041E': 'hi41',
    'B27010_042E': 'hi42',
    'B27010_043E': 'hi43',
    'B27010_044E': 'hi44',
    'B27010_045E': 'hi45',
    'B27010_046E': 'hi46',
    'B27010_047E': 'hi47',
    'B27010_048E': 'hi48',
    'B27010_049E': 'hi49',
    'B27010_050E': 'hi50',
    'B27010_051E': 'hi51',
    'B27010_052E': 'hi52',
    'B27010_053E': 'hi53',
    'B27010_054E': 'hi54',
    'B27010_055E': 'hi55',
    'B27010_056E': 'hi56',
    'B27010_057E': 'hi57',
    'B27010_058E': 'hi58',
    'B27010_059E': 'hi59',
    'B27010_060E': 'hi60',
    'B27010_061E': 'hi61',
    'B27010_062E': 'hi62',
    'B27010_063E': 'hi63',
    'B27010_064E': 'hi64',
    'B27010_065E': 'hi65',
    'B27010_066E': 'hi66',
    'state': 'state_fips'
}, inplace=True)

# from us import states
# state_abbr = {state.fips: state.name for state in states.STATES}
# acs_df['state'] = acs_df['state_fips'].map(state_abbr)

# List of columns to convert to integers
numeric_columns = [
    'total_population',
    'total_surveyed',
    'hi2',
    'hi3',
    'hi4',
    'hi5',
    'hi6',
    'hi7',
    'hi8',
    'hi9',
    'hi10',
    'hi11',
    'hi12',
    'hi13',
    'hi14',
    'hi15',
    'hi16',
    'hi17',
    'hi18',
    'hi19',
    'hi20',
    'hi21',
    'hi22',
    'hi23',
    'hi24',
    'hi25',
    'hi26',
    'hi27',
    'hi28',
    'hi29',
    'hi30',
    'hi31',
    'hi32',
    'hi33',
    'hi34',
    'hi35',
    'hi36',
    'hi37',
    'hi38',
    'hi39',
    'hi40',
    'hi41',
    'hi42',
    'hi43',
    'hi44',
    'hi45',
    'hi46',
    'hi47',
    'hi48',
    'hi49',
    'hi50',
    'hi51',
    'hi52',
    'hi53',
    'hi54',
    'hi55',
    'hi56',
    'hi57',
    'hi58',
    'hi59',
    'hi60',
    'hi61',
    'hi62',
    'hi63',
    'hi64',
    'hi65',
    'hi66'
]

# Convert columns to integers
acs_df[numeric_columns] = acs_df[numeric_columns].astype(int)

state_abbr = {
    '01': 'Alabama', '02': 'Alaska', '04': 'Arizona', '05': 'Arkansas', '06': 'California',
    '08': 'Colorado', '09': 'Connecticut', '10': 'Delaware', '11': 'District of Columbia',
    '12': 'Florida', '13': 'Georgia', '15': 'Hawaii', '16': 'Idaho', '17': 'Illinois',
    '18': 'Indiana', '19': 'Iowa', '20': 'Kansas', '21': 'Kentucky', '22': 'Louisiana',
    '23': 'Maine', '24': 'Maryland', '25': 'Massachusetts', '26': 'Michigan', '27': 'Minnesota',
    '28': 'Mississippi', '29': 'Missouri', '30': 'Montana', '31': 'Nebraska', '32': 'Nevada',
    '33': 'New Hampshire', '34': 'New Jersey', '35': 'New Mexico', '36': 'New York',
    '37': 'North Carolina', '38': 'North Dakota', '39': 'Ohio', '40': 'Oklahoma', '41': 'Oregon',
    '42': 'Pennsylvania', '44': 'Rhode Island', '45': 'South Carolina', '46': 'South Dakota',
    '47': 'Tennessee', '48': 'Texas', '49': 'Utah', '50': 'Vermont', '51': 'Virginia',
    '53': 'Washington', '54': 'West Virginia', '55': 'Wisconsin', '56': 'Wyoming'
}

# Map state FIPS codes to state names
acs_df['state'] = acs_df['state_fips'].map(state_abbr)

# Move the 'state' column to the beginning
cols = ['state'] + [col for col in acs_df.columns if col != 'state']
acs_df = acs_df[cols]

acs_df.head()

,state,total_population,total_surveyed,hi2,hi3,hi4,hi5,hi6,hi7,hi8,...,hi57,hi58,hi59,hi60,hi61,hi62,hi63,hi64,hi65,hi66
0,Alabama,5028092,4944981,1184371,1067177,507739,53318,3914,473992,27719,...,588,569796,595,156010,138981,64563,253,17289,192105,3672
1,Alaska,734821,706392,187929,149902,71655,5696,587,56631,15042,...,175,66092,103,25911,7074,9167,137,3350,20350,996
2,Arizona,7172282,7060320,1693683,1436967,774436,86192,3555,545484,26645,...,617,783165,1538,170539,247853,96009,154,38292,228780,10585
3,Arkansas,3018669,2964272,739851,657783,269117,30994,1764,345088,10308,...,661,322365,160,59043,105129,40336,59,19419,98219,2293
4,California,39356104,38874540,9326787,8373533,4226893,541730,30274,3470722,101597,...,4383,3564976,7485,1001131,775466,887132,816,101706,791240,63206

In [3]:
acs_df['no_coverage_total'] = acs_df['hi17'] + acs_df['hi33'] + acs_df['hi50'] + acs_df['hi66']

In [4]:
acs_df['no_coverage_pct'] = acs_df['no_coverage_total'] / acs_df['total_surveyed']

In [5]:
cols = ['state', 'total_population', 'total_surveyed', 'no_coverage_total', 'no_coverage_pct'] + [col for col in acs_df.columns if col not in ['state', 'total_population', 'total_surveyed', 'no_coverage_total', 'no_coverage_pct']]

# Reorder the DataFrame columns
acs_df = acs_df[cols]

acs_df.head()

,state,total_population,total_surveyed,no_coverage_total,no_coverage_pct,hi2,hi3,hi4,hi5,hi6,...,hi57,hi58,hi59,hi60,hi61,hi62,hi63,hi64,hi65,hi66
0,Alabama,5028092,4944981,472079,0.095466,1184371,1067177,507739,53318,3914,...,588,569796,595,156010,138981,64563,253,17289,192105,3672
1,Alaska,734821,706392,82562,0.116878,187929,149902,71655,5696,587,...,175,66092,103,25911,7074,9167,137,3350,20350,996
2,Arizona,7172282,7060320,759133,0.107521,1693683,1436967,774436,86192,3555,...,617,783165,1538,170539,247853,96009,154,38292,228780,10585
3,Arkansas,3018669,2964272,261691,0.088282,739851,657783,269117,30994,1764,...,661,322365,160,59043,105129,40336,59,19419,98219,2293
4,California,39356104,38874540,2752067,0.070794,9326787,8373533,4226893,541730,30274,...,4383,3564976,7485,1001131,775466,887132,816,101706,791240,63206

In [6]:
csv_file_path = 'health_insurance_data.csv'
acs_df.to_csv(csv_file_path, index=False)