In [4]:
import pandas as pd
from pygris.data import get_census

Internet Access Columns:
- 1 - Total People Serveyed for Internet Access
- 2 - Pple w/ Access
- 3 - just dial-up
- 4 - w/ broadband
- 5 - w/ cellular data plan
- 6 - just cellular data plan
- 7 - w/ broadband-cable
- 8 - just broadband-cable
- 9 - w/ satellite internet
- 10 - just satellite internet
- 11 - just other
- 12 - internet access w/o subscription
- 13 - NO ACCESS

In [5]:
api_key = '4489ebf8b64678c1d20d81cb44308726a18db5a2'

variables = [
    'B01003_001E',  #Total Population
    'B28002_001E',  # Households with internet access
    'B28002_002E',  # Households with internet access (see below for details)
    'B28002_003E',  # Households with internet access (see below for details)
    'B28002_004E',  # Households with internet access (see below for details)
    'B28002_005E',  # Households with internet access (see below for details)
    'B28002_006E',  # Households with internet access (see below for details)
    'B28002_007E',  # Households with internet access (see below for details)
    'B28002_008E',  # Households with internet access (see below for details)
    'B28002_009E',  # Households with internet access (see below for details)
    'B28002_010E',  # Households with internet access (see below for details)
    'B28002_011E',  # Households with internet access (see below for details)
    'B28002_012E',  # Households with internet access (see below for details)
    'B28002_013E',  # Households with NO internet access
]

# Get ACS data by state
acs_data = get_census(dataset='acs/acs5', 
                      year=2022, 
                      variables=variables, 
                      params = {
                          "for": "state:*"
                      },
                      return_geoid=True)

acs_df = pd.DataFrame(acs_data)

acs_df.rename(columns={
    'B01003_001E': 'total_population',
    'B28002_001E': 'total_surveyed',
    'B28002_002E': 'internet_access2',
    'B28002_003E': 'internet_access3',
    'B28002_004E': 'internet_access4',
    'B28002_005E': 'internet_access5',
    'B28002_006E': 'internet_access6',
    'B28002_007E': 'internet_access7',
    'B28002_008E': 'internet_access8',
    'B28002_009E': 'internet_access9',
    'B28002_010E': 'internet_access10',
    'B28002_011E': 'internet_access11',
    'B28002_012E': 'internet_access12',
    'B28002_013E': 'no_access',
    'state': 'state_fips'
}, inplace=True)

# from us import states
# state_abbr = {state.fips: state.name for state in states.STATES}
# acs_df['state'] = acs_df['state_fips'].map(state_abbr)

state_abbr = {
    '01': 'Alabama', '02': 'Alaska', '04': 'Arizona', '05': 'Arkansas', '06': 'California',
    '08': 'Colorado', '09': 'Connecticut', '10': 'Delaware', '11': 'District of Columbia',
    '12': 'Florida', '13': 'Georgia', '15': 'Hawaii', '16': 'Idaho', '17': 'Illinois',
    '18': 'Indiana', '19': 'Iowa', '20': 'Kansas', '21': 'Kentucky', '22': 'Louisiana',
    '23': 'Maine', '24': 'Maryland', '25': 'Massachusetts', '26': 'Michigan', '27': 'Minnesota',
    '28': 'Mississippi', '29': 'Missouri', '30': 'Montana', '31': 'Nebraska', '32': 'Nevada',
    '33': 'New Hampshire', '34': 'New Jersey', '35': 'New Mexico', '36': 'New York',
    '37': 'North Carolina', '38': 'North Dakota', '39': 'Ohio', '40': 'Oklahoma', '41': 'Oregon',
    '42': 'Pennsylvania', '44': 'Rhode Island', '45': 'South Carolina', '46': 'South Dakota',
    '47': 'Tennessee', '48': 'Texas', '49': 'Utah', '50': 'Vermont', '51': 'Virginia',
    '53': 'Washington', '54': 'West Virginia', '55': 'Wisconsin', '56': 'Wyoming'
}

state_abbr2 = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'DC': 'District of Columbia',
    'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois',
    'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana',
    'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota',
    'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada',
    'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York',
    'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon',
    'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota',
    'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia',
    'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}


numeric_columns = [
    'total_population',
    'total_surveyed',
    'internet_access2',
    'internet_access3',
    'internet_access4',
    'internet_access5',
    'internet_access6',
    'internet_access7',
    'internet_access8',
    'internet_access9',
    'internet_access10',
    'internet_access11',
    'internet_access12',
    'no_access'
]

# Convert columns to integers
acs_df[numeric_columns] = acs_df[numeric_columns].astype(int)

# Map state FIPS codes to state names
acs_df['state'] = acs_df['state_fips'].map(state_abbr)

# Move the 'state' column to the beginning
cols = ['state'] + [col for col in acs_df.columns if col != 'state']
acs_df = acs_df[cols]

acs_df.head()

,state,total_population,total_surveyed,internet_access2,internet_access3,internet_access4,internet_access5,internet_access6,internet_access7,internet_access8,internet_access9,internet_access10,internet_access11,internet_access12,no_access,state_fips
0,Alabama,5028092,1933150,1625807,6090,1619717,1478948,294713,1221985,115813,170518,14711,1390,51456,255887,01
1,Alaska,734821,264376,236875,610,236265,218244,43239,182105,15864,15342,1212,205,5635,21866,02
2,Arizona,7172282,2739136,2448838,5550,2443288,2226250,294043,2027802,180307,226635,20315,1970,62512,227786,04
3,Arkansas,3018669,1171694,968272,2584,965688,883988,188601,706838,67684,98526,8743,641,36213,167209,05
4,California,39356104,13315822,12195945,18361,12177584,11390547,1370203,10310555,671760,1084864,58921,8022,263836,856041,06

Limited access of internet includes households that:
- only have dialup internet(3)
- only have satellite internet service(10)
- or have internet access without a subscription (12) - (i think this means they go to the library or another house/place to access it???)

In [6]:
acs_df['limited_access'] = acs_df['internet_access3'] + acs_df['internet_access10'] + acs_df['internet_access12']

In [7]:
acs_df['pct_no_access'] = acs_df['no_access'] / acs_df['total_surveyed']
acs_df['pct_limited_access'] = acs_df['limited_access'] / acs_df['total_surveyed']

In [8]:
# Reorder columns
cols = ['state', 'total_population', 'total_surveyed', 'no_access', 'limited_access', 'pct_no_access', 'pct_limited_access',
        'internet_access2', 'internet_access3', 'internet_access4', 
        'internet_access5', 'internet_access6', 'internet_access7', 
        'internet_access8', 'internet_access9', 'internet_access10', 
        'internet_access11', 'internet_access12', 'state_fips']

# Select columns in the desired order
acs_df = acs_df[cols]

acs_df.head()

,state,total_population,total_surveyed,no_access,limited_access,pct_no_access,pct_limited_access,internet_access2,internet_access3,internet_access4,internet_access5,internet_access6,internet_access7,internet_access8,internet_access9,internet_access10,internet_access11,internet_access12,state_fips
0,Alabama,5028092,1933150,255887,72257,0.132368,0.037378,1625807,6090,1619717,1478948,294713,1221985,115813,170518,14711,1390,51456,01
1,Alaska,734821,264376,21866,7457,0.082708,0.028206,236875,610,236265,218244,43239,182105,15864,15342,1212,205,5635,02
2,Arizona,7172282,2739136,227786,88377,0.083160,0.032265,2448838,5550,2443288,2226250,294043,2027802,180307,226635,20315,1970,62512,04
3,Arkansas,3018669,1171694,167209,47540,0.142707,0.040574,968272,2584,965688,883988,188601,706838,67684,98526,8743,641,36213,05
4,California,39356104,13315822,856041,341118,0.064288,0.025617,12195945,18361,12177584,11390547,1370203,10310555,671760,1084864,58921,8022,263836,06

In [12]:
csv_file_path = 'internet_access_test.csv'
acs_df.to_csv(csv_file_path, index=False)

In [9]:
renamed = ['total_surveyed',
    'internet_access2',
    'internet_access3',
    'internet_access4',
    'internet_access5',
    'internet_access6',
    'internet_access7',
    'internet_access8',
    'internet_access9',
    'internet_access10',
    'internet_access11',
    'internet_access12',
    'no_access',
    'state_fips']

In [11]:
from acs_extract import acs_extract

test_df = acs_extract(2022, variables, renamed, state_abbr)
test_df.head()

TypeError: the first argument must be callable